body {
    margin: 0;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 25px;
}

form {
    align-self: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 25px;
}

label {
    margin: 0;
    padding: 0;
    /* width: 0;
    height: 0; */
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 50%;
    padding: 10px 10px;
    background-color: rgb(48, 54, 66);
    border-radius: 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7; 
}

#search-btn {
    all: unset;
    cursor: pointer;
    color: white;
    background-color: rgb(48, 54, 66);
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px;
}

#main-gif {

}

button {
    width: 25%;
    height: 100%;
    align-self: center;
}

p {
    color: white;
}

.display-none {
    display: none;
}